{% extends "LagueuchePlatformBundle::layout.html.twig" %}

{% block title %}
    Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block lagueucheplatform_body %}

    <h2>Ajouter une annonce</h2>

    {{ include("LagueuchePlatformBundle:Advert:form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}